.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e9eaec;
}

.trigger-button {
    appearance: none;
    background-color: #e9eaec;
    border-radius: 4px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.trigger-button:hover {
    background-color: #FAFBFC;
    text-decoration: none;
    transition-duration: 0.1s;
}

.trigger-button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.trigger-button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.trigger-button:focus {
    outline: 1px transparent;
}

.trigger-button:before {
    display: none;
}

.trigger-button::-webkit-details-marker {
    display: none;
}

.active {
    border: 1px solid #000;
    border-radius: 5px;
    color: #0e6498;
    background-color: white;
}

.search-link {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.search-link:link {
    color: #93a7ab;
}


.search-link:focus {
    border-bottom: 1px solid;
    background: #e9f1e2;
}

.search-link:hover {
    border-bottom: 1px solid;
    background: #ced3d7;
}

.search-link:visited {
    text-decoration: none;
    color: #93a7ab;
}
