{% extends 'layouts/base-grid.html' %}
{% import 'home/macros.html' as macros %}

{% block title %} Daily {% endblock title %}

{% block stylesheets %}
    <style>
        body {
            --grid-row-specs: max(4%, 35px) 1fr;
            --grid-gap-specs: 0px;
        }
    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="v-2">
        <div class="header">
            <form autocomplete="off">
                <input type="hidden" name="symbol" value="{{ symbol }}">
                {{ macros.build_header(endpoint="/chart/daily", target="#daily-chart") }}
            </form>
            <img id="indicator" class="htmx-indicator" src="{{ config.ASSETS_ROOT }}/img/bars.svg"/>
        </div>
        <div id="daily-chart">
            {{ fig | safe }}
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}