{% extends 'layouts/base-grid.html' %}
{% import 'home/macros.html' as macros %}

{% block title %} Today's Markets {% endblock title %}

{% block stylesheets %}
    <style>

        body {
            --grid-row-specs: max(4%, 35px) 1fr;
            --grid-gap-specs: 0px;
        }

    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="v-2">
        <div class="header">
            <form autocomplete="off">
                {{ macros.build_header(endpoint="/todays_markets", target="#market-chart") }}
            </form>
            <img id="indicator" class="htmx-indicator" src="{{ config.ASSETS_ROOT }}/img/bars.svg"/>
        </div>
        <div id="market-chart">
            <div
                    hx-indicator="#indicator"
                    hx-post="/todays_markets"
                    hx-trigger="load"
                    hx-target="#market-chart"
                    hx-vals='{"window": "10Y"}'
                    id="10Y">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}