{% extends 'layouts/base-grid.html' %}
{% import 'home/macros.html' as macros %}

{% block title %} Today's Markets {% endblock title %}

{% block stylesheets %}
    <style>

        body {
            --grid-row-specs: max(4%, 35px) 1fr;
            --grid-gap-specs: 0px;
        }

    </style>
{% endblock stylesheets %}

{% block content %}
    <div class="v-2">
        <div class="v-2">
            <div class="header">
                <form autocomplete="off">
                    {{ macros.build_header(endpoint="/chart/cum_returns", target="#market-chart") }}
                </form>
                <img id="indicator" class="htmx-indicator" src="{{ config.ASSETS_ROOT }}/img/bars.svg"/>
            </div>
            <div id="market-chart">
                {{ fig_cumreturn | safe }}
            </div>
        </div>
        <div class="v-2">
            <div class="header">
                <div class="news-header">
                    News Feed
                </div>
            </div>
            <div hx-get="/news"
                 hx-trigger="load, every 300s"
            >
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        window.addEventListener('resize', function () {
            console.log("Resize Event");
            table.redraw(true);
        });

    </script>
{% endblock %}