<div id="news-feed"></div>
<script>
    var tableData = {{ news.to_json(orient="records", date_format="iso", date_unit="s")  | safe }};
    var table = new Tabulator("#news-feed", {
            data: tableData,
            autoResize: false,
            layout: "fitColumns",
            columns: [
                {
                    title: "Source",
                    field: "source",
                    formatter: "link",
                    formatterParams: {urlField: 'source_domain'}
                },
                {
                    title: "Title",
                    field: "title",
                    formatter: "link",
                    formatterParams: {urlField: 'url'}
                },
                {
                    title: "Sentiment",
                    field: "overall_sentiment_label",
                    hozAlign: "right"
                },

                {
                    title: "Publication Date",
                    field: "time_published",
                    hozAlign: "right"
                }
            ],
        })
    ;
    console.log("Here")
</script>