<div id="news-feed"></div>
<script>
    var tableData = {{ news.to_json(orient="records", date_format="iso", date_unit="s")  | safe }};
    var table = new Tabulator("#news-feed", {
            data: tableData,
            responsiveLayout: "hide",
            autoResize: false,
            layout: "fitColumns",
            columns: [
                {
                    title: "Source",
                    field: "source",
                    formatter: "link",
                    formatterParams: {urlField: 'source_domain'},
                    responsive: 0,
                    width: 300
                },
                {
                    title: "Title",
                    field: "title",
                    formatter: "link",
                    formatterParams: {urlField: 'url'},
                    responsive: 0,
                    width: 500
                },
                {
                    title: "Sentiment",
                    field: "overall_sentiment_label",
                    hozAlign: "right",
                    responsive: 2,
                },

                {
                    title: "Publication Date",
                    field: "time_published",
                    hozAlign: "right",
                    responsive: 1,
                }
            ],
        })
    ;
</script>