{% if search_results %}
    <form>
        <ul class="search-results" id="search-result-list">
            {% for children in search_results %}
                <div role="treeitem"
                     aria-selected="false" data-select2-id="{{ children['1. symbol'] }}">
                    <div id="{{ children['1. symbol'] }}"
                         style="color: black">
                        <a href="{{ url_for('daily', symbol=children['1. symbol']) }}" class="search-link">
                            <b>Symbol</b>: {{ children['1. symbol'] }}
                        </a>
                        <br>
                        <sup> <b>Name</b>: {{ children['2. name'] }} </sup>
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </form>
{% endif %}